In [127]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import csv
import numpy as np

In [154]:
dutation_closure=pd.read_csv("./data/covid-9_duration_school_closures.csv")
date_closure=pd.read_csv("./data/covid-19-school-closure.csv")

In [155]:
dutation_closure
date_closure

,Country,ISO,Duration of FULL and PARTIAL school closures (in weeks),Duration of FULL closures (in weeks),Duration of PARTIAL closures (in weeks),Duration of FULL closures from Mar-Aug 20 (in weeks),Duration of FULL closures from Sep 20 - Aug 21 (in weeks),Duration of FULL closures from Sep 21 - Oct 21 (in weeks),Duration of PARTIAL closures from Mar-Aug 20 (in weeks),Duration of PARTIAL closures from Sep 20 - Aug 21 (in weeks),Duration of PARTIAL closures from Sep 21 - Oct 21 (in weeks)
0,Afghanistan,AFG,48,30,18,23,7,0,3,11,4
1,Albania,ALB,29,11,18,8,3,0,5,13,0
2,Algeria,DZA,21,19,2,13,6,0,0,2,0
3,Andorra,AND,16,15,1,15,0,0,0,1,0
4,Angola,AGO,46,28,18,23,5,0,0,18,0
...,...,...,...,...,...,...,...,...,...,...,...
205,Venezuela,VEN,63,61,2,14,47,0,0,0,2
206,Viet Nam,VNM,22,7,15,5,0,2,7,6,2
207,Yemen,YEM,19,14,5,14,0,0,1,4,0
208,Zambia,ZMB,31,15,16,6,9,0,9,4,3
209,Zimbabwe,ZWE,44,34,10,15,19,0,0,9,1

              Date  ISO       Country          Status  Note
0       16/02/2020  ABW         Aruba      Fully open   NaN
1       16/02/2020  AFG   Afghanistan      Fully open   NaN
2       16/02/2020  AGO        Angola      Fully open   NaN
3       16/02/2020  AIA      Anguilla      Fully open   NaN
4       16/02/2020  ALB       Albania      Fully open   NaN
...            ...  ...           ...             ...   ...
131035  31/10/2021  WSM         Samoa      Fully open   NaN
131036  31/10/2021  YEM         Yemen      Fully open   NaN
131037  31/10/2021  ZAF  South Africa  Partially open   NaN
131038  31/10/2021  ZMB        Zambia      Fully open   NaN
131039  31/10/2021  ZWE      Zimbabwe      Fully open   NaN

[131040 rows x 5 columns]

In [156]:
panel_date_closure=pd.DataFrame([])
for i in range(210):
    country=dutation_closure["Country"].drop_duplicates().loc[i]
    panel_date_closure.index=date_closure[date_closure["Country"]==country].index
    panel_date_closure.loc[:,country]=date_closure[date_closure["Country"]==country]["Status"]
    
panel_date_closure.index=date_closure["Date"].drop_duplicates()

/Users/mayuheng/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1667: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self.obj[key] = value

In [157]:
panel_date_closure

,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,Aruba,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela,Viet Nam,Yemen,Zambia,Zimbabwe
Date,,,,,,,,,,,,,,,,,,,,,
16/02/2020,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,...,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open
17/02/2020,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,...,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open
18/02/2020,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,...,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open
19/02/2020,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,...,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open
20/02/2020,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,...,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27/10/2021,Partially open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Partially open,Fully open,Fully open,...,Fully open,Partially open,Fully open,Fully open,Fully open,Partially open,Partially open,Fully open,Fully open,Fully open
28/10/2021,Partially open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Partially open,Fully open,Fully open,...,Fully open,Partially open,Fully open,Fully open,Fully open,Partially open,Partially open,Fully open,Fully open,Fully open
29/10/2021,Partially open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Partially open,Fully open,Fully open,...,Fully open,Partially open,Fully open,Fully open,Fully open,Partially open,Partially open,Fully open,Fully open,Fully open
30/10/2021,Partially open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Partially open,Fully open,Fully open,...,Fully open,Partially open,Fully open,Fully open,Fully open,Partially open,Partially open,Fully open,Fully open,Fully open
31/10/2021,Partially open,Fully open,Fully open,Fully open,Fully open,Fully open,Fully open,Partially open,Fully open,Fully open,...,Fully open,Partially open,Fully open,Fully open,Fully open,Partially open,Partially open,Fully open,Fully open,Fully open

In [158]:

panel_date_closure[panel_date_closure=="Fully open"]=2
panel_date_closure[panel_date_closure=="Partially open"]=1
panel_date_closure[panel_date_closure=="Closed due to COVID-19"]=0
panel_date_closure[panel_date_closure=="Academic break"]=-1
panel_date_closure=panel_date_closure.drop(columns=["Svalbard"])

In [159]:
panel_date_closure.to_csv("./cleaned_data/panel_date_closure.csv")

In [198]:
cases=pd.read_csv("./data/WHO-COVID-19-global-data.csv")

In [218]:
cases_cleaned=pd.DataFrame([])
deaths_cleaned=pd.DataFrame([])
for i in range(237):
    #print(cases["Country"].drop_duplicates())
    country=cases["Country"].drop_duplicates().iloc[i]
    cases_cleaned.index=cases[cases["Country"]==country].index
    deaths_cleaned.index=cases[cases["Country"]==country].index
    cases_cleaned.loc[:,country]=cases[cases["Country"]==country]["New_cases"]
    deaths_cleaned.loc[:,country]=cases[cases["Country"]==country]["New_deaths"]
    
cases_cleaned.index=cases["Date_reported"].drop_duplicates()
deaths_cleaned.index=cases["Date_reported"].drop_duplicates()

/Users/mayuheng/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1667: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self.obj[key] = value

In [219]:
deaths_cleaned.shape

(701, 237)

In [138]:
cases_cleaned

,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,United States Virgin Islands,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
Date_reported,,,,,,,,,,,,,,,,,,,,,
2020-01-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-05,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-06,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-07,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-29,28,418,172,0,0,5,0,0,1521,189,...,0,291,234,0,686,12936,0,6,5,40
2021-11-30,42,195,192,5,403,11,0,0,888,398,...,18,167,143,0,650,13770,0,8,7,235
2021-12-01,29,195,187,0,70,13,52,0,1968,502,...,3,156,216,0,600,13972,0,9,19,426
2021-12-02,70,228,192,0,241,15,0,0,2332,558,...,0,191,209,0,649,14508,0,2,26,685
2021-12-03,28,466,198,0,232,25,28,0,1881,399,...,3,271,260,0,569,13698,0,0,25,1042

In [139]:
set_diff_df = pd.concat([cases["Country"].drop_duplicates(), date_closure["Country"], date_closure["Country"]]).drop_duplicates(keep=False)
set_diff_df

set_diff_df = pd.concat([date_closure["Country"].drop_duplicates(), cases["Country"], cases["Country"]]).drop_duplicates(keep=False)
set_diff_df

2103                                         American Samoa
17525                                               Bonaire
27339                              Central African Republic
33648                                         Côte d’Ivoire
47668                           Falkland Islands (Malvinas)
51173                                         French Guiana
51874                                      French Polynesia
58884                                            Guadeloupe
59585                                                  Guam
60987                                              Guernsey
64492                                              Holy See
70801                                           Isle of Man
74306                                                Jersey
77811                                             Kosovo[1]
79914                      Lao People's Democratic Republic
91130                                            Martinique
93233                                               Mayotte
103047                                        New Caledonia
107954       Northern Mariana Islands (Commonwealth of the)
109356    occupied Palestinian territory, including east...
110758                                                Other
116366                                     Pitcairn Islands
118469                                          Puerto Rico
121273                                              Réunion
124077                                                 Saba
124778                                     Saint Barthélemy
125479                                         Saint Helena
127582                                         Saint Martin
128283                            Saint Pierre and Miquelon
131087                                Sao Tome and Principe
135994                                       Sint Eustatius
136695                                         Sint Maarten
147911                                   The United Kingdom
154220                             Turks and Caicos Islands
159127                         United States Virgin Islands
161931                   Venezuela (Bolivarian Republic of)
163333                                    Wallis and Futuna
Name: Country, dtype: object

31                              Central African republic
36                                         Cote d'Ivoire
68     United Kingdom of Great Britain and Northern I...
104                                              Lao PDR
155                                            Palestine
164                                             Svalbard
172                                São Tomé and Príncipe
178                                         Sint Marteen
181                              Turks and Caicos Island
201                                            Venezuela
Name: Country, dtype: object

In [220]:
cases_cleaned.rename(columns={'Central African Republic':'Central African republic'},inplace=True)
cases_cleaned.rename(columns={"Côte d’Ivoire":"Cote d'Ivoire"},inplace=True)
cases_cleaned.rename(columns={'The United Kingdom':'United Kingdom of Great Britain and Northern Ireland'},inplace=True)
cases_cleaned.rename(columns={"Lao People's Democratic Republic":'Lao PDR'},inplace=True)
cases_cleaned.rename(columns={'occupied Palestinian territory, including east Jerusalem':'Palestine'},inplace=True)
cases_cleaned.rename(columns={'Sao Tome and Principe':"São Tomé and Príncipe"},inplace=True)
cases_cleaned.rename(columns={'Sint Maarten':"Sint Marteen"},inplace=True)
cases_cleaned.rename(columns={'Turks and Caicos Islands':"Turks and Caicos Island"},inplace=True)
cases_cleaned.rename(columns={'Venezuela (Bolivarian Republic of)':"Venezuela"},inplace=True)


deaths_cleaned.rename(columns={'Central African Republic':'Central African republic'},inplace=True)
deaths_cleaned.rename(columns={"Côte d’Ivoire":"Cote d'Ivoire"},inplace=True)
deaths_cleaned.rename(columns={'The United Kingdom':'United Kingdom of Great Britain and Northern Ireland'},inplace=True)
deaths_cleaned.rename(columns={"Lao People's Democratic Republic":'Lao PDR'},inplace=True)
deaths_cleaned.rename(columns={'occupied Palestinian territory, including east Jerusalem':'Palestine'},inplace=True)
deaths_cleaned.rename(columns={'Sao Tome and Principe':"São Tomé and Príncipe"},inplace=True)
deaths_cleaned.rename(columns={'Sint Maarten':"Sint Marteen"},inplace=True)
deaths_cleaned.rename(columns={'Turks and Caicos Islands':"Turks and Caicos Island"},inplace=True)
deaths_cleaned.rename(columns={'Venezuela (Bolivarian Republic of)':"Venezuela"},inplace=True)


cases_cleaned

,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,United States Virgin Islands,Uruguay,Uzbekistan,Vanuatu,Venezuela,Viet Nam,Wallis and Futuna,Yemen,Zambia,Zimbabwe
Date_reported,,,,,,,,,,,,,,,,,,,,,
2020-01-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-05,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-06,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-07,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-29,28,418,172,0,0,5,0,0,1521,189,...,0,291,234,0,686,12936,0,6,5,40
2021-11-30,42,195,192,5,403,11,0,0,888,398,...,18,167,143,0,650,13770,0,8,7,235
2021-12-01,29,195,187,0,70,13,52,0,1968,502,...,3,156,216,0,600,13972,0,9,19,426
2021-12-02,70,228,192,0,241,15,0,0,2332,558,...,0,191,209,0,649,14508,0,2,26,685
2021-12-03,28,466,198,0,232,25,28,0,1881,399,...,3,271,260,0,569,13698,0,0,25,1042

In [201]:
cases_cleaned["Afghanistan"].to_numpy()

array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    5,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    3,    0,
          0,    0,    3,    0,    0,    3,    6,    5,   -1,    0,    0,
          0,    0,   10,    6,    2,   32,    6,   11,   15,    8,    0,
         52,   26,   43,   34,    1,   29,   38,   30,   56,   21,   77,
          0,   34,   52,   58,  105,   24,   51,   63,   25,   63,   30,
         66,   84,   50,  104,  133,   68,  172,  124,    0,  344,  298,
          0,    0,    0,  755,  168,  171,    0,  839,  262,  303,    0,
        372,  714,  349,  233,  437,  583,  490,  531,  540,  736,  716,
        512,  737,  548,  637,  643,  784,  651,  656,  742,  775,  624,
       1078,  582,  791,  575,  305,  920,  748,  656,  556,  664,  761,
        106, 1241,  463,  541,  419,  536,  310,  338,  159,  535,   85,
        356,  351,  271,  121,  403,  260,  302,  348,  279,  113,  320,
        210,   59,  541,  157,  100,    4,  285,  200,  130,  159,   60,
        186,   34,  106,  112,  188,   66,   55,  121,  106,  105,  103,
         71,    0,  168,    0,    0,   37,   82,   67,   41,   78,   39,
          0,  215,   76,   79,    7,  120,   45,    0,    3,    0,  160,
         97,   38,   59,   46,   71,   43,   16,   11,    3,    0,   19,
         34,   47,   45,    0,   16,   94,   96,   26,   24,   28,   34,
         35,   75,   56,   43,   40,   17,   11,   36,  125,   30,   22,
         49,   25,   16,    6,   35,   12,   15,   14,   17,    5,    7,
         44,   81,   64,   62,   68,   77,   10,   96,   71,   58,   66,
         32,   47,   68,   59,   87,   88,    0,   49,  116,   61,   81,
         65,  104,   95,  113,  123,   66,   91,   76,  132,   95,   86,
        121,   40,   58,  126,  138,  166,  146,  186,  174,   66,  205,
        163,  225,  223,  377,  215,   60,  203,  282,  290,  212,  226,
        123,  127,  249,  283,  219,  263,  278,  130,  253,  260,  235,
        230,  174,  213,   73,  126,  321,  211,  219,  224,  275,  254,
         80,  142,  210,  182,  287,  238,  169,   84,  159,  140,  183,
          0,  183,   73,  123,  200,  102,   94,  102,  125,   68,   89,
         49,   46,  106,   85,   56,  107,   46,   78,   79,  137,  125,
         80,   76,   36,   77,   78,  104,   37,   48,   69,   15,   36,
         62,   53,   57,   34,   65,    5,   24,   25,   18,   18,   25,
         28,   19,   22,    4,   22,   17,   18,    5,   24,   13,   29,
         18,   16,   16,   11,    7,   19,   26,   11,    5,   52,   13,
          7,   29,    0,   18,   23,   42,    0,   26,    0,   10,   21,
         28,   25,   24,   10,   50,   24,   15,   34,   28,   36,    4,
         28,   62,   70,   63,   55,   23,   81,   41,   62,   94,   70,
         76,  125,   16,   82,  122,  128,   42,   78,  109,   72,  105,
        139,  177,   98,  230,  188,  113,  172,  210,  145,  206,  169,
        194,  183,  178,  263,  234,  365,  293,  300,   87,  221,  340,
        315,  327,  310,   57,   72,  114,  221,  303,  453,  505,  406,
        242,  547,  628,  840,  623,  764,  981,  650, 1077, 1139, 1049,
       1093, 1509, 1335, 1261, 1617, 1485, 1724, 1842, 1824, 1024, 1121,
       1597, 1814,   16, 3243, 2203, 1787, 1385, 1996, 1847, 2208, 1575,
       2060, 1532, 1096, 1531, 1407, 1501, 1557, 1940, 1329, 1263, 1189,
       1527, 1557, 1092, 1473, 1191,  801, 1075, 1236,  754, 1210, 1198,
       1173,  378,  897,  915,  348,  421,  256,  227,  205,  414,  723,
        544,  444,  527,  631,  347,  484,  587,  361,  428,  449,  430,
        218,  320,  235,  278,  272,  207,  171,   92,  109,  101,  120,
         48,   37,   49,   14,   72,   77,   62,  100,  138,   47,   26,
        115,   72,   40,   46,   69,   20,   28,  111,   92,  110,  104,
        122,   20,    8,  104,   86,  103,   78,  126,   45,    7,   46,
        127,   45,   43,   38,   59,    2,   51,   21,   35,   46,   17,
         37,   35,   24,   22,   31,   42,   47,   19,   18,   43,   31,
         59,   28,   55,   21,   36,   24,   13,   25,   58,   32,   40,
          9,   45,   55,   31,   53,   42,   30,   14,   40,   34,   23,
         16,   40,   29,    5,   20,   34,   36,   49,   42,   35,   21,
         40,   58,   39,   90,   47,   44,   34,   47,   50,   54,   17,
        112,   27,   19,   28,   42,   29,   70,   28])

In [202]:
arr1=cases_cleaned.columns.values

In [203]:
arr2=panel_date_closure.columns.values

In [204]:
np.setdiff1d(arr2, arr1)

array([], dtype=object)

In [208]:
cases_cleaned.shape

(701, 209)

In [207]:
cases_cleaned=cases_cleaned[arr2]

In [196]:
cases_cleaned.shape

(701, 209)

In [191]:
for i in range(cases_cleaned.shape[0]):
    for j in range(cases_cleaned.shape[1]):
        if cases_cleaned.iloc[i,j]<0:
            cases_cleaned.iloc[i-1,j]=(cases_cleaned.iloc[i,j]+cases_cleaned.iloc[i-1,j])/2
            cases_cleaned.iloc[i,j]=cases_cleaned.iloc[i-1,j]

/Users/mayuheng/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [194]:
for i in range(cases_cleaned.shape[0]):
    for j in range(cases_cleaned.shape[1]):
        if cases_cleaned.iloc[i,j]+cases_cleaned.iloc[i-1,j]<0:
            print(cases_cleaned.iloc[i,j]+cases_cleaned.iloc[i-1,j])

-1.5
-3.0
-2
-4
-1.0
-2
-2.0
-3.0
-3.0
-0.5
-1.5
-3.0
-1.0
-1.0
-2.0
-1.0
-2.0
-1
-2
-1.5
-1.0
-3.0
-0.5
-3.0
-1
-2
-1.0
-2
-1.0
-1.0
-18
-1.5
-0.5
-3.0
-1.0
-1
-1
-2.0
-1.5
-8
-2
-1.5
-3.0
-1.5
-0.5
-2
-4.0
-2
-3.0
-3.0
-1.5
-1
-2.0
-1
-0.5
-1
-1.5
-1.5
-1.5
-1.5
-1.5
-1
-1
-1.0
-2
-1
-3.0
-3.0
-1.5
-1.5
-3.0
-2
-2
-0.5
-1
-1.5
-2
-1.5
-1.5
-1.5
-3.0
-3.0
-1.5
-1
-1
-3.0
-1
-1.5
-3.0
-1.5
-1.5
-1.5
-1.5
-3.0
-0.5
-3.0
-1.5
-0.5
-1.0
-0.5
-1.0
-2461.0
-352.5
-6.0
-24
-3.0
-1480.0
-12
-394.5
-105.0
-210.0
-4.0
-104.0
-2.0
-9.0
-0.5
-1.0
-0.5
-0.5
-1.0
-0.5
-0.5
-1.0
-0.5
-3228.0
-8086.0
-3040.0
-4
-2
-27
-68
-34
-61.5
-123.0
-61.5

In [221]:
cases_cleaned.to_csv("./cleaned_data/cases_cleaned_matched_country.csv")

deaths_cleaned.to_csv("./cleaned_data/deaths_cleaned_matched_country.csv")

In [1]:
deaths_cleaned

NameError: name 'deaths_cleaned' is not defined

In [210]:
household=pd.read_csv("./data/covid-19_house_holds.csv")

In [214]:
household["country"].drop_duplicates()

0                        Afghanistan
38                         Argentina
1774                         Armenia
2124                    Burkina Faso
3517     Congo, Dem. Rep. (Kinshasa)
                    ...
91377                         Uganda
94925                     Uzbekistan
97885                        Vietnam
98821                         Zambia
99977                       Zimbabwe
Name: country, Length: 73, dtype: object